
@charset "utf-8";

@import "./icons";
@import "./shopper-mixins.scss";
@import "../node_modules/menutown/source/menutown-mixins.scss";

html {
	@include shopper();
	@include shopper-basic-theme();
}

.shopper-demo {
	$bgcolor: #186d63;
	$fgcolor: #bbfff7;

	a {
		color: skyblue;
	}

	@mixin slice() {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
	}

	font-size: 16px;
	font-family: sans-serif;
	text-align: center;
	background: $bgcolor;
	color: $fgcolor;

	&, * {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	body {
		padding: 0 4em;

		@media (max-width: 800px) {
			padding: 0;
		}
	}

	*:focus {
		outline: 4px solid cyan;
	}

	.menu-system {
		@include menu-system(3rem, 0.3rem);
		.menu-display-list {
			margin-top: 1rem;
		}
	}

	.slice {
		@include slice();
		background: rgba(0,0,0, 0.1);

		p {
			margin: 0.66em auto;
		}
	}

	.content {
		padding: 1em;
	}

	.product-display {
		margin-top: 3em;

		.add-to-cart-button {
			display: inline-block;
			width: 8em;
			padding: 0.32em 1em;
			background: #13af4b;
			color: white;
			border: none;
			cursor: pointer;

			&[disabled] {
				background: rgba(255,255,255, 0.1);
				cursor: default;
			}
		}
	}
}
