
@charset "utf-8";

@import "./icons";

//
// shopper general styles
// - standard structural layout styles for shopper components
//

.shopper {
	$buttonheight: 3rem;
	$panelspacing: 1rem;
	$priceleeway: 2em;
	$bradius: 2px;

	.reset-and-normalize {
		&, & * {
			box-sizing: border-box;
			margin: 0;
			padding: 0;
		}

		ol, ul {
			list-style: none;
		}

		button {
			font-size: 1em;
			border: none;
		}
	}

	//
	// Product area
	// - product display anywhere on a web store
	//

	.product-area {
		@extend .reset-and-normalize;

		.product-display {
			.add-to-cart-button {
				cursor: default;
			}

			&[data-in-cart="false"] {
				.add-to-cart-button {
					cursor: pointer;
				}
			}
		}
	}

	//
	// Cart area
	// - special absolute positioning allows cart to track with user scroll
	// - cart button toggles the panel, indicates item count
	// - cart panel itself
	//

	.cart-area {
		@extend .reset-and-normalize;
		position: relative;
	}

	.cart-system {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		// transition: top 400ms ease;
	}

	.cart-button {
		z-index: 1;
		position: absolute;
		display: inline-block;
		top: 2em;
		left: 100%;
		width: 3em;
		height: $buttonheight;
		background: rgba(255,255,255, 0.2);
		border-radius: 0 $bradius $bradius 0;
		user-select: none;
		cursor: pointer;

		&::before {
			content: "";
			z-index: -1;
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-repeat: no-repeat;
			background-size: 60%;
			background-position: center center;
		}

		span {
			@mixin button-bubble($size: 1rem) {
				font-size: $size * 0.8;
				position: absolute;
				margin-left: -($size / 2);
				display: flex;
				justify-content: center;
				align-items: center;
				width: $size;
				height: $size;
				border-radius: $size;
			}

			background: rgba(255,255,255, 0.5);

			&.cart-numeral {
				$size: 1rem;
				@include button-bubble($size);
				bottom: 55%;
				right: 10%;
			}
			
			&.cart-close {
				$size: 1.5rem;
				@include button-bubble($size);
				top: 50%;
				left: 50%;
				margin-top: -($size / 2);
				margin-left: -($size / 2);

				@include icon-x(white);
				background-repeat: no-repeat;
				background-size: 80%;
				background-position: center center;
			}
		}
	}

	.cart-panel {
		display: none;
		position: absolute;
		top: 2em;
		right: 0;
		width: 96%;
		max-width: 40em;
		min-height: 6em;
		background: rgba(255,255,255, 0.2);
		border-radius: $bradius 0 $bradius $bradius;

		h1 {
			text-align: left;
			font-size: 1.2em;
			height: $buttonheight;
			padding: $panelspacing;
		}

		.cart-panel-content {
			padding: $panelspacing;
			padding-top: 0;

			& > * + * {
				margin-top: $panelspacing;
			}
		}
	}

	.cart-system[data-panel-open="true"] .cart-panel {
		display: flex;
		flex-direction: column;
	}

	.cart-grid {
		text-align: right;

		li {
			display: flex;
			justify-content: flex-end;
			align-items: stretch;
			margin-top: 0.2em;

			& > * {
				flex: 0 1 auto;
				padding: 0.5em;
				text-align: center;

				display: flex;
				align-items: center;
			}
		}
	}

	.pricevalue {
		text-align: right;
		justify-content: flex-end;
	}

	.cart-manipulator {
		.cart-item-list {
			.cart-item-display {
				.item-remove-button {
					position: relative;
					z-index: 1;
					padding: 0.5em 2em;
					cursor: pointer;

					@include icon-x();
					background-repeat: no-repeat;
					background-size: 40%;
					background-position: center center;
				}

				.item-quantity {
					display: inline-block;
					width: 4em;
					border: none;
					font-size: 1em;
				}

				.item-title {
					flex: 2;
					text-align: left;
				}

				.item-price {
					flex: 1;
					text-align: right;
				}
			}
		}
	}

	.cart-calculated-results {
		width: 60%;
		margin-left: auto;
		padding-top: 0;

		.cart-subtotal {
			span {
				flex: 2;
				justify-content: flex-end;
			}
			.pricevalue {
				flex: 1;
			}
		}
	}

	.cart-checkout {
		text-align: right;

		.checkout-button {
			display: inline-block;
			font-weight: bold;
			padding: 1em 2em;
			border-radius: $bradius;
			cursor: pointer;
		}
	}

	@media (max-width: 800px) {
		.cart-button {
			left: auto;
			right: 0;
			border-radius: $bradius 0 0 $bradius;
		}
	}

	//
	// Basic theme style
	// - opt-in aesthetics
	// - simple light greyscale shades
	//

	&.shopper-theme-basic {
		.cart-system {
			color: #444;

			h1 {
				text-transform: uppercase;
				opacity: 0.8;

				& > span:nth-of-type(2) {
					font-weight: normal;
				}
			}
		}

		.cart-button {
			background-color: rgba(255,255,255, 0.9);

			&::before {
				@include icon-shopping-cart(rgba(0,0,0, 0.5));
			}

			span {
				color: white;

				&.cart-numeral {
					background: rgba(255,0,0, 0.8);
					text-shadow: 1px 1px rgba(0,0,0, 0.2);
				}

				&.cart-close {
					background-color: rgba(0,0,0, 0.3);
				}
			}
		}

		.cart-system[data-items-in-cart="0"] {
			.cart-button span.cart-numeral {
				display: none;
			}
		}

		.cart-system[data-panel-open="true"] {
			.cart-button::before {
				background-image: none;
			}
		}

		.cart-panel {
			background: rgba(255,255,255, 0.96);
			background: linear-gradient(
				to bottom right,
				rgba(255,255,255, 1),
				rgba(220, 220, 220, 0.9)
			);
			box-shadow: 0 2px 8px rgba(0,0,0, 0.3);
		}

		.cart-item-list, .cart-calculated-results {

			li * {
				background: rgba(255,255,255, 0.9);

				&.pricevalue {
					background: rgba(255,255,255, 0.6);
				}
			}
		}

		.cart-checkout {
			.checkout-button {
				color: #fff;
				background: #1e9b2a;
				text-shadow: 1px 1px 1px rgba(0,0,0, 0.25);

				&[disabled] {
					opacity: 0.6;
					background: rgba(0,0,0, 0.1);
				}
			}
		}
	}
}

//
// shopper example demo styles
// - these are some opinionated idiosyncratic styles are for the demo page
//

.shopper-demo {
	$bgcolor: #186d63;
	$fgcolor: #bbfff7;

	a {
		color: skyblue;
	}

	@mixin slice() {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
	}

	font-size: 16px;
	font-family: sans-serif;
	text-align: center;
	background: $bgcolor;
	color: $fgcolor;

	&, * {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	body {
		padding: 0 4em;

		@media (max-width: 800px) {
			padding: 0;
		}
	}

	*:focus {
		outline: 4px solid cyan;
	}

	.slice {
		@include slice();
		background: rgba(0,0,0, 0.1);

		p {
			margin: 0.66em auto;
		}
	}

	.content {
		padding: 1em;
	}

	.product-display {
		margin-top: 3em;

		.add-to-cart-button {
			display: inline-block;
			width: 8em;
			padding: 0.32em 1em;
			background: #13af4b;
			color: white;
			border: none;
			cursor: pointer;

			&[disabled] {
				background: rgba(255,255,255, 0.1);
				cursor: default;
			}
		}
	}
}
