
@charset "utf-8";

//
// SHOPPERMAN GENERAL STYLES
// - standard structural layout styles for shopperman components
//

.shopperman {
	$panelspacing: 1em;
	$bradius: 2px;

	.reset-and-normalize {
		&, & * {
			margin: 0;
			padding: 0;
		}

		ol, ul {
			list-style: none;
		}

		button {
			font-size: 1em;
			border: none;
		}
	}

	//
	// Product area
	// - product display anywhere on a web store
	//

	.product-area {
		@extend .reset-and-normalize;

		.product-display {
			.add-to-cart-button {
				cursor: default;
			}

			&[data-in-cart="false"] {
				.add-to-cart-button {
					cursor: pointer;
				}
			}
		}
	}

	//
	// Cart area
	// - special absolute positioning allows cart to track with user scroll
	// - cart button toggles the panel, indicates item count
	// - cart panel itself
	//

	.cart-area {
		position: relative;
	}

	.cart-system {
		@extend .reset-and-normalize;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		transition: top 400ms ease;

		h1 {
			text-align: left;
		}
	}

	.cart-button {
		z-index: 1;
		position: absolute;
		display: inline-block;
		top: 2em;
		left: 100%;
		width: 3em;
		padding: 0.5em;
		background: rgba(0,0,0, 0.2);
		border-radius: 0 $bradius $bradius 0;
		user-select: none;
		cursor: pointer;
	}

	.cart-panel {
		display: none;
		position: absolute;
		top: 2em;
		right: 0;
		width: 96%;
		max-width: 40em;
		min-height: 6em;
		background: rgba(0,0,0, 0.2);
		border-radius: $bradius 0 $bradius $bradius;
		padding: $panelspacing;
	}

	.cart-system[data-panel-open="true"] .cart-panel {
		display: block;
	}

	.cart-manipulator {
		.cart-list-items {
			li {
				display: flex;
				padding: 0.1em 0;
			}
		}
	}

	.cart-calculated-results {
		text-align: right;
	}

	.cart-item-display {
		display: flex;

		.remove-button {
			cursor: pointer;
		}
	}

	.cart-checkout {
		text-align: right;
		margin-top: $panelspacing;

		.checkout-button {
			display: inline-block;
			font-weight: bold;
			padding: 1em 2em;
			color: #fff;
			background: #1e9b2a;
			text-shadow: 1px 1px 1px rgba(0,0,0, 0.25);
			border-radius: $bradius;
			cursor: pointer;

			&[disabled] {
				opacity: 0.6;
				background: #888;
			}
		}
	}

	@media (max-width: 800px) {
		.cart-button {
			left: auto;
			right: 0;
			border-radius: $bradius 0 0 $bradius;
		}
		.cart-panel {
			padding-right: 3em;
		}
	}

	//
	// Base theme style
	// - opt-in aesthetics
	// - simple light greyscale shades
	//

	&[data-theme="base"] {
		.cart-system {
			color: #444;

			h1 {
				text-transform: uppercase;
				opacity: 0.8;
				font-style: italic;
				& > span:nth-of-type(2) {
					font-weight: normal;
				}
			}
		}

		.cart-button {
			background: rgba(255,255,255, 0.9);
		}

		.cart-panel {
			background: rgba(255,255,255, 0.96);
			background: linear-gradient(
				to bottom right,
				rgba(255,255,255, 0.96),
				rgba(255,255,255, 0.88),
				rgba(255,255,255, 0.60)
			);
			box-shadow: 0 2px 8px rgba(0,0,0, 0.3);
		}
	}
}

//
// SHOPPERMAN EXAMPLE DEMO STYLES
// - these are some opinionated idiosyncratic styles are for the demo page
//

html.shopperman-demo {
	$bgcolor: #186d63;
	$fgcolor: #bbfff7;

	@mixin slice() {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
	}

	font-size: 16px;
	font-family: sans-serif;
	text-align: center;
	background: $bgcolor;
	color: $fgcolor;

	&, * {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	body {
		padding: 0 4em;

		@media (max-width: 800px) {
			padding: 0;
		}
	}

	*:focus {
		outline: 4px solid cyan;
	}

	.slice {
		@include slice();
		background: rgba(0,0,0, 0.1);

		p {
			margin: 0.66em auto;
		}
	}

	.content {
		padding: 1em;
	}

	.product-display {
		margin-top: 3em;

		.add-to-cart-button {
			display: inline-block;
			width: 8em;
			padding: 0.32em 1em;
			background: #13af4b;
			color: white;

			&[disabled] {
				background: rgba(255,255,255, 0.1);
			}
		}
	}
}
