
@charset "utf-8";

.shopperman {
	position: relative;

	.cart-system {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	.cart-button {
		z-index: 1;
		position: absolute;
		top: 2em;
		left: 100%;

		display: inline-block;
		width: 3em;
		padding: 0.5em;
		background: rgba(0,0,0, 0.2);
		border-radius: 0 3px 3px 0;
		cursor: pointer;
		user-select: none;

		.cart-button-text {
			display: none;
		}
	}

	.cart-panel {
		position: absolute;
		top: 2em;
		right: 0;
		width: 20em;
		min-height: 10em;
		background: rgba(0,0,0, 0.2);
		border-radius: 3px 0 3px 3px;

		display: none;
		&[data-open="true"] {
			display: block;
		}
	}

	$panelspacing: 1em;

	.cart-list-items {
		list-style: none;
		padding: $panelspacing;
	}

	.cart-list-results {
		list-style: none;
		padding: $panelspacing;
	}

	.cart-checkout {
		margin: $panelspacing;
	}
}

@mixin slice() {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

html.shopperman-demo {
	font-size: 16px;
	font-family: sans-serif;
	text-align: center;

	&, * {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	body {
		padding: 0 4em;

		@media (max-width: 800px) {
			padding: 0;
		}
	}

	.slice {
		@include slice();
		background: rgba(0,0,0, 0.1);

		p {
			margin: 0.66em auto;
		}
	}

	.content {
		padding: 1em;
	}

	.shopperman {
		@media (max-width: 800px) {
			.cart-button {
				left: auto;
				right: 0;
				border-radius: 3px 0 0 3px;
			}
			.cart-panel {
				padding-right: 3em;
			}
		}
	}
}
