
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 21px;
}

main {
	margin: auto;
	max-width: 800px;
	width: 95%;
}

main > header {
	position: relative;
	background: grey;
	padding: 1em;
}

main > .content {
	padding: 1em;
}

menu-system[initially-hidden] {
	display: none;
}

menu-display {
	--menu-panel-width: 100%;
}

@media (min-width: 900px) {
	menu-display {
		--menu-panel-width: 80%;
	}
}

.demo-area {
	margin: 2em auto;
}
