
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	margin: auto;
	max-width: 800px;
}

main > header {
	position: relative;
	background: grey;
	padding: 1em;
}

main > .content {
	padding: 1em 0;
}

menu-system[initially-hidden] {
	display: none;
}
