
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
	background: #111;
	color: rgba(255,255,255, 0.6);
}

main {
	margin: auto;
	max-width: 800px;
	width: 95%;
}

main > header {
	position: relative;
	background: #222;
	padding: 1em;
}

main > .content {
	padding: 1em;
}

menu-system {
	color: #333;
	--menu-margin: 0.5em auto;
}

menu-system[initially-hidden] {
	display: none;
}

menu-display {
	--menu-panel-width: 100%;
}

@media (min-width: 900px) {
	menu-display {
		--menu-panel-width: 80%;
	}
}

.demo-area {
	margin: 2em auto;
}

.demo-area h2 {
	margin-top: 2em;
}
